nav#slide-menu
  ul
    .top

    li
      a(href='/') HOME
    li
      a(href='/about') ABOUT US
    li
      a(href='/news') NEWS & ARTICLES
    li
      a(href='/directory') DIRECTORY
    li
      a(href='/faq') FAQ

    .bottom