script(src='/components/jquery/dist/jquery.min.js')
script(src='/components/bootstrap/dist/js/bootstrap.min.js')
script(src='/components/console.image/console.image.min.js')
script(src='/js/menu.js')

case page
  when 'index'
    script(src='/js/index.js')
