extends layout_page
block content

  .row
    div(style='border-top: 7px solid #F48374')

  .row.text-center
    img(src='/img/about/About_Sec1.jpg')
  .row.text-center
    img(src='/img/about/About_Sec2.jpg')
  .row.text-center
    img(src='/img/about/About_Sec3.jpg')
  .row.text-center
    img(src='/img/about/About_Sec4.jpg')

  include index/four