extends layout_page
block content

  .row
    img(src='/img/about/About_Sec1.jpg')
  .row
    img(src='/img/about/About_Sec2.jpg')
  .row
    img(src='/img/about/About_Sec3.jpg')
  .row
    img(src='/img/about/About_Sec4.jpg')

  include index/four