doctype html
html
  include includes/head
  body
    .container-fluid
      include index/one
      include index/twoa
      include index/twob
      include index/three
      include index/four
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')