input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: none;
    background-color: #FDCFAC;
}

input[type=text]:focus, textarea:focus {
    box-shadow: none
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: none;
}