
/**
 * Search input styling
 **/

input[type=text] {
    background-color: #FDCFAC;
    border-radius: 0;
    box-shadow: none;
    border: none;
    color: #C74C59;
    height: 45px;
    outline: none;
    margin-right: -1px;
}

input[type=text]:focus                      { box-shadow: none; border: none; }
input[type=text]:-moz-placeholder           { color: #C74C59; }
input[type=text]::-moz-placeholder          { color: #C74C59; }
input[type=text]::-ms-input-placeholder     { color: #C74C59; }
input[type=text]::-webkit-input-placeholder { color: #C74C59; }


.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
    background-color: #FDCFAC;
    border-radius: 0;
    height: 45px;
    outline: none;
}

.input-group-btn:last-child > .btn:active,
.input-group-btn:last-child > .btn-group:active {
    box-shadow: none;
    border: none;
}

/**
 * Category stuff
 **/
#category-header {
    width: 100%;
    background-color: #873BB6;
    height: 45px;
}

#category-header span {
    font-family: Avenir;
    font-weight: 600;
    color: white;
}

