.two-a

  // Big
  .hidden-sm.hidden-xs
    .row(style="margin-right: 20px; margin-left: 20px;")
      .col-md-6
        img.pincers(src='/img/two/pincers.png')
      .spacer
    .row(style="margin-right: 20px; margin-left: 20px;")
      .col-sm-12.col-md-6
        img.img-responsive.controller(src='/img/two/controller.png')
      .col-sm-12.col-md-6
        p.title
          | WHAT IS
          br
          | GAME DEVELOPMENT ?
        p.desc Game Development is the process, techniques, theories and practices related to the creation of digital games. This also encompasses consoles, desktop PCs, online/browser games as well as mobile and portable devices.


  // Small
  .visible-sm.visible-xs.text-center
    .row(style="margin-right: 20px; margin-left: 20px;")
      .col-xs-12
        img.pincers-mobile(src='/img/two/pincers.png')
      .spacer
    .row(style="margin-right: 10px; margin-left: 10px;")
      .col-xs-12
        .controller-mobile-container
          img.controller-mobile.img-responsive(src='/img/two/controller.png')
      .col-xs-12
        p.title-mobile
          | WHAT IS
          br
          | GAME DEVELOPMENT ?
        p.desc-mobile Game Development is the process, techniques, theories and practices related to the creation of digital games. This also encompasses consoles, desktop PCs, online/browser games as well as mobile and portable devices.



  div(style="height: 150px;")