.two-b

  .row(style="margin-right: 20px; margin-left: 20px;")
    .col-xs-12
      .workspace-container
        img.workspace.img-responsive(src='/img/two/table.png')

  .row.hidden-sm.hidden-xs(style="margin-right: 20px; margin-left: 20px;")
    p.desc
      | Production of a game generally involves the interdisciplinary cooperation of
      br
      | technical disciplines to implement a game in a playable real-world format.

  .row.visible-sm.visible-xs(style="margin-right: 20px; margin-left: 20px;")
    p.desc-mobile
      | Production of a game generally involves the
      br
      | interdisciplinary cooperation of technical
      br
      | disciplines to implement a game in a playable
      br
      | real-world format.

  .hidden-xs.hidden-sm
    .row.features
      .col-sm-12.col-md-4
        img(src='/img/two/gametech.png')
        p.subtitle GAME TECHNOLOGY
        .spacer.visible-xs
      .col-sm-12.col-md-4
        img(src='/img/two/gameart.png')
        p.subtitle GAME ART
        .spacer.visible-xs
      .col-sm-12.col-md-4
        img(src='/img/two/gamedesign.png')
        p.subtitle GAME DESIGN
        .spacer.visible-xs

  .visible-sm.visible-xs
    .row(style="margin-right: 20px; margin-left: 20px;")
      .col-sm-12
        img(src='/img/two/gametech.png')
        p.subtitle GAME TECHNOLOGY
        .spacer
      .col-sm-12
        img(src='/img/two/gameart.png')
        p.subtitle GAME ART
        .spacer
      .col-sm-12
        img(src='/img/two/gamedesign.png')
        p.subtitle GAME DESIGN
        .spacer.


  .spacer.hidden-xs