.section(style='background-color: #9396BF')

  .row
    .spacer-80
    .col-sm-12.text-center
      img.img-responsive(src='/img/directory/directory_starts_and_clouds.svg' style='max-width:900px;')

  .row
    .col-md-7.text-right.hidden-sm.hidden-xs
      img.img-responsive(style='height:360px;', src='/img/directory/directory_factory.svg')
    .col-sm-12.visible-sm.visible-xs
      img.img-responsive(style='max-height:360px;', src='/img/directory/directory_factory.svg')
      .spacer-40

    .col-md-4.hidden-sm.hidden-xs
      .row.text-center
        img(style='height:91px;', src='/img/common/emblem.svg')
        .spacer-20
      .row.text-center
        h1.mast-title(style='text-shadow: 4px 4px #005175;') DIRECTORY
      .row.text-center
        .spacer-10
        p.mast-desc(style='color: #4D3C6D; font-family: Avenir; font-weight: 600; font-size: 16px;') Our ever-expanding catalogue of the nation’s game development studios, publishers and more - organized in one spot for easier browsing.

    .col-sm-12.visible-sm.visible-xs
      .row.text-center
        img(style='height:91px;', src='/img/common/emblem.svg')
        .spacer-20
      .row.text-center
        h1.mast-title(style='text-shadow: 4px 4px #005175;') DIRECTORY
      .row.text-center
        .spacer-10
        p.mast-desc(style='color: #4D3C6D; font-family: Avenir; font-size: 16px; font-weight: 600; max-width: 350px; margin: 0 auto;') Our ever-expanding catalogue of the nation’s game development studios, publishers and more - organized in one spot for easier browsing.

  .spacer-80