.section(style='background-color: #FAB58F')

  .row
    .spacer-40


  .row.text-center(style='max-width: 900px;')
    .col-md-6
      .input-group
        input#search.form-control(type='text', placeholder='Search for...')
        span.input-group-btn
          button.btn(type='button')
            span.glyphicon.glyphicon-search
      .visible-xs.visible-sm
        .spacer-20
    .col-md-6
      #category-header.text-center
        .row(style='height: 13px;')
        .row
          span by Categories...

  .row
    .spacer-40


  .row(style='max-width: 900px;').hidden-xs.hidden-sm
    .col-md-6.text-center
      img(style='height: 313px;', src='img/directory/directory_search_art.svg')

    .col-md-6.text-center
      .row.categories
        .col-md-4.gamedevelopmentstudios-button
          .row
            img(style='height: 92px;', src='img/directory/directory_category_icon_gamedevstudio.svg')
          .row.a
            .spacer-10
            span GAME DEV
            br
            span STUDIO
        .col-md-4.multibusinesscompanies-button
          .row
            img(style='height: 92px;', src='img/directory/directory_category_icon_multibusiness.svg')
          .row.b
            .spacer-10
            span MULTI-BUSINESS
            br
            span COMPANIES
        .col-md-4.artoutsourcingstudios-button
          .row
            img(style='height: 92px;', src='img/directory/directory_category_icon_artoutsourcing.svg')
          .row.c
            .spacer-10
            span ART OUTSOURCING
            br
            span STUDIO

      .row
        .spacer-20

      .row.categories
        .col-md-4.gamepublishers-button
          .row
            img(style='height: 92px;', src='img/directory/directory_category_icon_gamepublishers.svg')
          .row.a
            .spacer-10
            span GAME
            br
            span PUBLISHERS
        .col-md-4.schools-button
          .row
            img(style='height: 92px;', src='img/directory/directory_category_icon_institute.svg')
          .row.b
            .spacer-10
            span INSTITUTIONS &
            br
            span ACADEMIES
        .col-md-4.incubation-button
          .row
            img(style='height: 92px;', src='img/directory/directory_category_icon_incubator.svg')
          .row.c
            .spacer-10
            span INCUBATORS
            br
            span &nbsp;



  .row(style='max-width: 500px;').visible-xs.visible-sm.categories.text-center
    .row(style='margin-left: 15px; margin-right: 15px;')
      .col-xs-6.gamedevelopmentstudios-button
        .row
          img(style='height: 92px;', src='img/directory/directory_category_icon_gamedevstudio.svg')
        .row.a
          .spacer-10
          span GAME DEV
          br
          span STUDIO
      .col-xs-6.gamepublishers-button
        .row
          img(style='height: 92px;', src='img/directory/directory_category_icon_gamepublishers.svg')
        .row.a
          .spacer-10
          span GAME
          br
          span PUBLISHERS
    .row
      .spacer-20
    .row(style='margin-left: 15px; margin-right: 15px;')
      .col-xs-6.multibusinesscompanies-button
        .row
          img(style='height: 92px;', src='img/directory/directory_category_icon_multibusiness.svg')
        .row.b
          .spacer-10
          span MULTI-BUSINESS
          br
          span COMPANIES
      .col-xs-6.schools-button
        .row
          img(style='height: 92px;', src='img/directory/directory_category_icon_institute.svg')
        .row.b
          .spacer-10
          span INSTITUTIONS &
          br
          span ACADEMIES
    .row
      .spacer-20
    .row(style='margin-left: 15px; margin-right: 15px;')
      .col-xs-6.artoutsourcingstudios-button
        .row
          img(style='height: 92px;', src='img/directory/directory_category_icon_artoutsourcing.svg')
        .row.c
          .spacer-10
          span ART OUTSOURCING
          br
          span STUDIO
      .col-xs-6.incubation-button
        .row
          img(style='height: 92px;', src='img/directory/directory_category_icon_incubator.svg')
        .row.c
          .spacer-10
          span INCUBATORS
          br
          span &nbsp;



  .row
    .spacer-40
