.section(style='background-color: #FAB58F')

  .row
    .spacer-40

  .row.text-center(style='max-width: 900px;')
    .col-md-6
      input(type='text', style='width: 100%;', placeholder='type to search...')

    .col-md-6

  .row
    .spacer-40
