.section(style='background-color: #78CDCE')

  .row
    .spacer-80
    .col-sm-12.text-center
      img.img-responsive(src='/img/about/about_kites.png')

  .row
    .col-md-7.text-right.hidden-sm.hidden-xs
      img.img-responsive(style='height:360px;', src='/img/about/mast_factory.svg')
    .col-sm-12.visible-sm.visible-xs
      img.img-responsive(style='height:360px;', src='/img/about/mast_factory.svg')
      .spacer-40

    .col-md-4.hidden-sm.hidden-xs
      .row.text-center
        img(style='height:91px;', src='/img/common/emblem.svg')
        .spacer-20
      .row.text-center
        h1.mast-title ABOUT
      .row.text-center
        .spacer-10
        p.mast-desc(style='color: white;') MyGameDev was founded in 2012 when KDU University College was awarded an initiative under the Malaysian Government’s Economic Transformation Plan.

    .col-sm-12.visible-sm.visible-xs
      .row.text-center
        img(style='height:91px;', src='/img/common/emblem.svg')
        .spacer-20
      .row.text-center
        h1.mast-title(style='font-family: Oswald Bold; ') ABOUT
      .row.text-center
        .spacer-10
        p(style='color: white; font-size: 16px; font-weight: 400; max-width: 350px; margin: 0 auto;') MyGameDev was founded in 2012 when KDU University College was awarded an initiative under the Malaysian Government’s Economic Transformation Plan.

  .spacer-80