.row(style='background-color: #FEEBC1')


// The Road
.row
   div(style='border-top: 26px solid #D0D3C7')
   div(style='border-top: 17px solid #5E5E5E')
   div(style='border-top: 4px dashed #888B8F; background: #5E5E5E; ')
   div(style='border-top: 17px solid #5E5E5E')
   div(style='border-top: 26px solid #D0D3C7')