.section(style='background-color: #fee8d4')

   .row.text-center(style='max-width: 900px; margin: 0 auto;')
      .row
         .spacer-40

      .row
         .col-md-offset-1.col-md-5.col-sm-offset-1.col-sm-5
            .spacer-20
            a#gamedevelopmentlink(href='#gamedevelopment')
               img.img-responsive(style='width:308px;', src='/img/faq/faq_button_gamedev.svg')
         .col-md-5.col-sm-5
            .spacer-20
            a#gameindustrylink(href='#gameindustry')
               img.img-responsive(style='width:308px;', src='/img/faq/faq_button_gameindustry.svg')

      .row
         .col-md-offset-1.col-md-5.col-sm-offset-1.col-sm-5
            .spacer-20
            a#studentsandparentslink(href='#studentsandparents')
               img.img-responsive(style='width:308px;', src='/img/faq/faq_button_studentsparents.svg')
         .col-md-5.col-sm-5
            .spacer-20
            a#generallink(href='#general')
               img.img-responsive(style='width:308px;', src='/img/faq/faq_button_general.svg')

      .row
         .spacer-40