.section(style='background-color: #DC5473; background-image: url(/img/news/news_background.png); background-repeat:no-repeat; background-position: center center;')

  .row
    .spacer-40

  .row(style='max-width: 930px;')
    .row(style='background-color: #FDFAE4; margin-left: 10px; margin-right: 10px;')

      .row
        .spacer-40

      // The Banner
      .row(style='background-color: #123B67; margin-left: 28px; margin-right: 28px; box-shadow: 0px 5px #999999;')
        .row
          .spacer-10
        .row
          .col-sm-4.hidden-xs
            div(style='border-bottom: 7px solid #FDFAE4; margin-top: 4px; margin-left: 10px;')
          .col-sm-4.text-center
            h3(style='color: #FDFAE4; margin-top: 0px; font-family: "Oswald Bold"; font-size: 33px;') NEWS & ARTICLES
          .col-sm-4.hidden-xs
            div(style='border-bottom: 7px solid #FDFAE4; margin-top: 4px; margin-right: 10px;')

      .row
        .spacer-40

      // Main News Board Section
      .row(style='margin-left: 28px; margin-right: 28px;')

        .col-sm-7(style='padding-left: 0px;')

          // TITLE
          .row(style='font-family: "\'Avenir\', sans-serif"; font-weight:800; font-size: 16px;padding-bottom: 12px;')
            .spacer-10
            .pull-left(style='color: #78AA42') LATEST FEATURE
            .pull-right(style='color: #69ACB7') 8 SEP 2014

          .row
            img.img-responsive(style='width: 507px;', src='/img/news/article_gameonmalaysia.jpg')

          .row
            .spacer-10
            .title(style='font-family: \'Avenir\', sans-serif; font-weight: 800; font-size: 24px; color: #02ABB8;') GAME ON MALAYSIA

          .row
            a(style='text-decoration: none;', href='http://www.edgy.my/game-malaysia')
              div.pull-right(style='background-color: #F1826B; color: white; padding: 5px; padding-left: 15px; padding-right: 15px; font-family: Oswald;') READ

          //.row.text-center.hidden-xs
          //  img(style='height: 167px; margin-top: 10%', src='/img/news/article_dude.svg')
          .row.visible-xs
            .spacer-20

        .col-sm-5(style='padding-right: 0px;')

          // News Items Header
          .row.text-center(style='max-width: 305px;')
            img(style='width: 107px; margin:0 auto;', src='/img/news/canvas_frame_top.svg')
          .row(style='max-width: 305px; background-color: #78AA42')
            h4(style='padding-left: 20px; font-family: \'Avenir\', sans-serif; font-weight: 800; font-size: 16px; color: #28622F; padding-top: 5px; padding-bottom: 5px;') MORE NEWS & ARTICLES

          .row#boarditems
          .row.visible-xs#mmn(style="max-width: 305px; background-color: #E7D6B6; padding-top: 15px; padding-bottom: 15px;")
            #mmnbutton(role="tab", style="padding-bottom: 15px;")
              a(data-toggle="collapse", data-parent="#mmn", href="#mobileboarditems" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none;")
                div.text-center(style="width: 50%; background-color: #F1826B; color: white; padding: 5px; font-family: 'Oswald', sans-serif;margin: 0 auto;") MORE
            #mobileboarditems.collapse(role="tabpanel", aria-labelledby="mmnbutton")

          // News Footer
          .row(style='max-width: 346px;')
            img.img-responsive(src='/img/news/canvas_frame_bottom.svg')

      .row
        .spacer-40

      // Archive Section
      .row#archive.hidden-xs
        #archivebutton(role="tab", style='background-color: #123B67; margin-left: 28px; margin-right: 28px;')
          a(data-toggle="collapse", data-parent="#archive", href="#archiveitems" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none;")
            .row
              .spacer-10
            .row
              .col-sm-5.hidden-xs.text-right
                img(style='height:7px; margin-top: 5px;', src='/img/news/arrow_down.svg')
              .col-sm-2.text-center
                h3(style='color: #FDFAE4; margin-top: 0px; font-family: "Oswald Bold"; font-size: 17;') ARCHIVE
              .col-sm-5.hidden-xs.text-left
                img(style='height:7px; margin-top: 5px;', src='/img/news/arrow_down.svg')

      .row
        .spacer-40

      .row.hidden-xs#archiveitems.collapse(role="tabpanel", aria-labelledby="archivebutton", style='margin-left: 28px; margin-right: 28px;')
        .col-sm-3
          .row
            .spacer-20
          .row
            .toggle_arrow.earlier#book-earlier-button EARLIER
            .spacer-10
          .row
            .toggle_arrow#book-2013-button 2013
            .spacer-10
          .row
            .toggle_arrow#book-2014-button 2014
            .spacer-10
          .row
            .spacer-20

        // The Book
        .col-sm-8.col-sm-offset-1#book-2014
          div(style="width:100%; height: 300;background-image: url(\"/img/news/newsarchivebook.svg\");background-repeat:no-repeat; background-position: center center;")
            .row.hidden-sm
              .spacer-40
              .spacer-10
            .row.visible-sm
              .spacer-40
              .spacer-20
            .row
              // left page
              .col-sm-6
                .row(style='padding-left: 15px;')
                  a(style='text-decoration:none;', href="http://www.edgy.my/game-malaysia")
                    p(style='font-family: \'Avenir\', sans-serif; font-size: 14px; font-weight: 600; color: #724F3D; cursor: pointer;') Game On Malaysia
                      span(style='padding-left: 5px; color: #F1826B;') >>
                .row(style='padding-left: 15px;')
                  div(style='font-family: \'Avenir\', sans-serif; font-size: 12px; font-weight: 400; color: #724F3D; margin-top: -8px;') 08 SEPT 2014

                .row
                  .spacer-20
                  .spacer-10

                .row(style='padding-left: 15px;')
                  a(style='text-decoration:none;', href="http://gamedev.kdu.edu.my/wp-content/uploads/2014/08/EduNews-19-8-2014.png")
                    p(style='font-family: \'Avenir\', sans-serif; font-size: 14px; font-weight: 600; color: #724F3D; cursor: pointer;') Familiarizing with the Game Development Industry
                      span(style='padding-left: 5px; color: #F1826B;') >>
                .row(style='padding-left: 15px;')
                  div(style='font-family: \'Avenir\', sans-serif; font-size: 12px; font-weight: 400; color: #724F3D;margin-top: -8px;') 19 AUG 2014

              // right page
              .col-sm-6
                .row
                  a(style='text-decoration:none;' href="http://www.thestar.com.my/News/Education/2014/06/08/Game-on-for-gamers/")
                    p(style='font-family: \'Avenir\', sans-serif; font-size: 14px; font-weight: 600; color: #724F3D; cursor: pointer;') Game On For Gamers
                      span(style='padding-left: 5px; color: #F1826B;') >>
                .row
                  div(style='font-family: \'Avenir\', sans-serif; font-size: 12px; font-weight: 400; color: #724F3D; margin-top: -8px;') 08 JUNE 2014

          // TODO: Pager for when theres more item
          //.row.carousel-pager
          //  ul
          //    li#news-prev-button.arrow-left
          //    li#news-one-button.number 1
          //    li#news-two-button.number 2
          //    li#news-three-button.number 3
          //    li#news-next-button.arrow-right

        .col-sm-8.col-sm-offset-1#book-2013
          div(style="width:100%; height: 300;background-image: url(\"/img/news/newsarchivebook.svg\");background-repeat:no-repeat; background-position: center center;")
            .row.hidden-sm
              .spacer-40
              .spacer-10
            .row.visible-sm
              .spacer-40
              .spacer-20
            .row
              // left page
              .col-sm-6
                .row.news-left-page
                  a(style='text-decoration:none;', href="http://gamedev.kdu.edu.my/wp-content/uploads/2013/12/mygamedev2020.png")
                    p.news-title MyGameDev set to help the Industry Grow
                      span.news-arrow >>
                .row.news-left-page
                  div.news-date 12 OCT 2013

                .row
                  .spacer-20
                  .spacer-10

                .row.news-left-page
                  a(style='text-decoration:none;', href="http://gamedev.kdu.edu.my/bernama-biztalk-game-on/")
                    p.news-title Bernama Biztalk’s Game On Segment
                      span.news-arrow >>
                .row.news-left-page
                  div.news-date 02 SEPT 2013

              // right page
              .col-sm-6
                .row
                  a(style='text-decoration:none;', href="http://www.bfm.my/gaming-to-a-degree.html")
                    p.news-title Gaming To A Degree
                      span.news-arrow >>
                .row
                  div.news-date 24 AUG 2013

                .row
                  .spacer-20
                  .spacer-20
                  .spacer-10

                .row
                  a(style='text-decoration:none;', href="http://gamedev.kdu.edu.my/wp-content/uploads/2013/01/20130122-thesun.png")
                    p.news-title Boosting Creative Content Industry
                      span.news-arrow >>
                .row
                  div.news-date 15 JAN 2013


          // TODO: Pager for when theres more item
          //.row.carousel-pager
          //  ul
          //    li#news-prev-button.arrow-left
          //    li#news-one-button.number 1
          //    li#news-two-button.number 2
          //    li#news-three-button.number 3
          //    li#news-next-button.arrow-right

        .col-sm-8.col-sm-offset-1#book-earlier
          div(style="width:100%; height: 300;background-image: url(\"/img/news/newsarchivebook.svg\");background-repeat:no-repeat; background-position: center center;")
            .row.hidden-sm
              .spacer-40
              .spacer-10
            .row.visible-sm
              .spacer-40
              .spacer-20
            .row
              .carousel(data-ride="carousel")
                .carousel-inner#earlier-carousel(role="listbox")

                  /// Page 1 & 2
                  .item.active
                    // left page
                    .col-sm-6
                      .row.news-left-page
                        a(style='text-decoration:none;', href="http://themalaysianreserve.com/main/news/corporate-malaysia/2573-electronic-games-development-industry-to-grow-under-gtp")
                          p.news-title Electronic games development industry to grow under GTP
                            span.news-arrow >>
                      .row.news-left-page
                        div.news-date 20 NOV 2012

                      .row
                        .spacer-20
                        .spacer-10

                      .row.news-left-page
                        a(style='text-decoration:none;', href="http://gamedev.kdu.edu.my/wp-content/uploads/2012/01/2012-09-24-TheSun.jpg")
                          p.news-title Game Development Industry Set to Grow
                            span.news-arrow >>
                      .row.news-left-page
                        div.news-date 24 SEPT 2012

                    // right page
                    .col-sm-6
                      .row
                        a(style='text-decoration:none;', href="http://www.scmp.com/article/1046145/kdu-revs-video-game-development-mygamedev")
                          p.news-title KDU revs video game dev for MYGAMEDEV
                            span.news-arrow >>
                      .row
                        div.news-date 21 SEPT 2012

                      .row
                        .spacer-20
                        .spacer-20
                        .spacer-10

                      .row
                        a(style='text-decoration:none;', href="http://gamedev.kdu.edu.my/wp-content/uploads/2012/01/ETP.jpg")
                          p.news-title KDU Launches ETP Project
                            span.news-arrow >>
                      .row
                        div.news-date 29 JUN 2012

                  /// Page 3 & 4
                  .item
                    // left page
                    .col-sm-6
                      .row.news-left-page
                        a(style='text-decoration:none;', href="http://etp.pemandu.gov.my/28_May_2012-@-Game_Development_Cluster.aspx")
                          p.news-title Game Development Cluster
                            span.news-arrow >>
                      .row.news-left-page
                        div.news-date 28 JUN 2012

                      .row
                        .spacer-20
                        .spacer-10

                      .row.news-left-page
                        a(style='text-decoration:none;', href="http://gamedev.kdu.edu.my/wp-content/uploads/2012/01/28_May_TheSUN_GAMEONFORDIGITALLITERACY.jpg")
                          p.news-title Game On For Digital Literacy
                            span.news-arrow >>
                      .row.news-left-page
                        div.news-date 28 JUN 2012

                    // right page
                    .col-sm-6
                      .row
                        a(style='text-decoration:none;', href="http://www.liveatpc.com/kdu-university-college-kicks-off-mygamedev2020/")
                          p.news-title MYGAMEDEV Kicks Off
                            span.news-arrow >>
                      .row
                        div.news-date 24 APR 2012

                      .row
                        .spacer-20
                        .spacer-20
                        .spacer-10

                      //.row
                      //  a(style='text-decoration:none;', href="http://gamedev.kdu.edu.my/wp-content/uploads/2013/01/20130122-thesun.png")
                      //    p.news-title Boosting Creative Content Industry
                      //      span.news-arrow >>
                      //.row
                      //  div.news-date 15 JAN 2013

          .row.carousel-pager
            ul
              li#book-earlier-prev-button.arrow-left
              li#book-earlier-one-button.number 1
              li#book-earlier-two-button.number 2
              li#book-earlier-next-button.arrow-right

      .row
        .spacer-20

  .row
    .spacer-40