.section(style='background-color: #DC5473; background-image: url(/img/news/news_background.png); background-repeat:no-repeat; background-position: center center;')

  .row
    .spacer-40

  .row(style='max-width: 930px;')
    .row(style='background-color: #FDFAE4; margin-left: 10px; margin-right: 10px;')

      .row
        .spacer-40

      // The Banner
      .row(style='background-color: #123B67; margin-left: 28px; margin-right: 28px; box-shadow: 0px 5px #999999;')
        .row
          .spacer-10
        .row
          .col-sm-4.hidden-xs
            div(style='border-bottom: 7px solid #FDFAE4; margin-top: 4px; margin-left: 10px;')
          .col-sm-4.text-center
            h3(style='color: #FDFAE4; margin-top: 0px; font-family: "Oswald Bold"; font-size: 33px;') NEWS & ARTICLES
          .col-sm-4.hidden-xs
            div(style='border-bottom: 7px solid #FDFAE4; margin-top: 4px; margin-right: 10px;')

      .row
        .spacer-40

      // Main News Board Section
      .row(style='margin-left: 28px; margin-right: 28px;')

        .col-sm-7(style='padding-left: 0px;')

          // TITLE
          .row(style='font-family: "\'Avenir\', sans-serif"; font-weight:800; font-size: 16px;padding-bottom: 12px;')
            .spacer-10
            .pull-left(style='color: #78AA42') LATEST FEATURE
            .pull-right(style='color: #69ACB7') 8 SEP 2014

          .row
            img.img-responsive(style='width: 507px;', src='/img/news/article_gameonmalaysia.jpg')

          .row
            .spacer-10
            .title(style='font-family: \'Avenir\', sans-serif; font-weight: 800; font-size: 24px; color: #02ABB8;') GAME ON MALAYSIA

          .row
            a(style='text-decoration: none;', href='http://www.edgy.my/game-malaysia')
              div.pull-right(style='background-color: #F1826B; color: white; padding: 5px; padding-left: 15px; padding-right: 15px; font-family: Oswald;') READ

          //.row.text-center.hidden-xs
          //  img(style='height: 167px; margin-top: 10%', src='/img/news/article_dude.svg')
          .row.visible-xs
            .spacer-20

        .col-sm-5(style='padding-right: 0px;')

          // News Items Header
          .row.text-center(style='max-width: 305px;')
            img(style='width: 107px; margin:0 auto;', src='/img/news/canvas_frame_top.svg')
          .row(style='max-width: 305px; background-color: #78AA42')
            h4(style='padding-left: 20px; font-family: \'Avenir\', sans-serif; font-weight: 800; font-size: 16px; color: #28622F; padding-top: 5px; padding-bottom: 5px;') MORE NEWS & ARTICLES

          .row#boarditems
          .row.visible-xs#mmn(style="max-width: 305px; background-color: #E7D6B6; padding-top: 15px; padding-bottom: 15px;")
            #mmnbutton(role="tab", style="padding-bottom: 15px;")
              a(data-toggle="collapse", data-parent="#mmn", href="#mobileboarditems" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none;")
                div.text-center(style="width: 50%; background-color: #F1826B; color: white; padding: 5px; font-family: 'Oswald', sans-serif;margin: 0 auto;") MORE
            #mobileboarditems.collapse(role="tabpanel", aria-labelledby="mmnbutton")

          // News Footer
          .row(style='max-width: 346px;')
            img.img-responsive(src='/img/news/canvas_frame_bottom.svg')

      // Archive Section
      .row
        .spacer-40

      .row.hidden-xs(style='margin-left: 28px; margin-right: 28px;')
        .col-sm-3
          .row
            .spacer-20
          .row
            .toggle_arrow.earlier EARLIER
            .spacer-10
          .row
            .toggle_arrow 2013
            .spacer-10
          .row
            .toggle_arrow 2014
            .spacer-10
          .row
            .spacer-20
        .col-sm-8.col-sm-offset-1
          div(style="width:100%; height: 300;background-image: url(\"/img/news/newsarchivebook.svg\");background-repeat:no-repeat; background-position: center center;")

      .row.carousel-pager.hidden-xs
        ul
          li#news-prev-button.arrow-left
          li#news-one-button.number 1
          li#news-two-button.number 2
          li#news-three-button.number 3
          li#news-next-button.arrow-right


      .row
        .spacer-20

  .row
    .spacer-40