.section(style='background-color: #FFF0D8;')

  .row.visible-xs(style='max-width: 990px;')
    .spacer-40
    .spacer-40
    .col-xs-12
      .row
        p(style='font-family: \'Oswald Bold\', sans-serif; color: #123B67; font-size: 45px; text-shadow: 4px 4px #02ABB8; max-width: 210px; margin: 0 auto; margin-top: -15px;') CALENDAR OF EVENTS
      .row
        .spacer-20
        .spacer-10
      .row
        p(style='font-family: \'Avenir\', sans-serif; font-size: 16px; font-weight: 400; color: #94404D;max-width: 285px; margin: 0 auto;') Check out the whole year’s game events and conventions around the world, so you could plan ahead.

  .row(style='max-width: 990px;')
    .col-md-8.col-xs-12
      .row
        .calendar
          .calendar-header
            img.left-ring(style='height: 56px; position: absolute; top: 64px; right: 20%;', src='img/news/calendar_pills.svg')
            img.left-ring(style='height: 56px; position: absolute; top: 64px; left:  20%;', src='img/news/calendar_pills.svg')
            .row.text-center
              p.calendar-year 2015
            .row.text-center
              span
                img.calendar-arrow-left(src='img/news/calendar_pager_left.svg')
              span.calendar-month MARCH
              span
                img.calendar-arrow-right(src='img/news/calendar_pager_right.svg')
          .calendar-body
            .carousel(data-ride="carousel" data-interval="false")
              .carousel-inner#event-carousel(role="listbox")

    .col-sm-4.text-center.hidden-xs.hidden-sm
      .row
        img(style='width: 197px;' src='img/news/calendar_lights.svg')
      .row
        p(style='font-family: \'Oswald Bold\', sans-serif; color: #123B67; font-size: 45px; text-shadow: 4px 4px #02ABB8; max-width: 210px; margin: 0 auto; margin-top: -15px;') CALENDAR OF EVENTS
      .row
        .spacer-20
        .spacer-10
      .row
        p(style='font-family: \'Avenir\', sans-serif; font-size: 16px; font-weight: 400; color: #94404D;max-width: 285px; margin: 0 auto;') Check out the whole year’s game events and conventions around the world, so you could plan ahead.
      .row
        .spacer-20
        .spacer-10

  .row
    .spacer-40
    .spacer-40
    .spacer-40.hidden-xs

.section(style='background-color: #FFF0D8;').hidden-xs.hidden-sm
  .row(style='max-width: 990px;')
    .col-sm-8.text-center
      img.img-responsive(style='width: 600px; position: absolute; left: 0; right: 0; top: -85px;', src='img/news/calendar_pots.svg')
    .col-sm-4.hidden-xs
      img.img-responsive(style='width: 360px; position: absolute; left: 0; right:0;  top: -285px;', src='img/news/calendar_rombongan.svg')


div(style='margin: 0 -15px; border-top: 43px solid #FAB58F; margin-top: -25px;')

