.section(style='background-color: #20B1C0')

  .row
    .spacer-80
    .col-sm-12.text-center
      img.img-responsive(src='/img/about/about_kites.png')

  .row
    .col-md-7.text-right.hidden-sm.hidden-xs
      img.img-responsive(style='height:360px;', src='/img/news/mast_factory.svg')
    .col-sm-12.visible-sm.visible-xs
      img.img-responsive(style='max-height:360px;', src='/img/news/mast_factory.svg')
      .spacer-40

    .col-md-4.hidden-sm.hidden-xs
      .row.text-center
        img(style='height:91px;', src='/img/common/emblem.svg')
        .spacer-20
      .row.text-center
        h1.mast-title(style='text-shadow: 4px 4px #DC5473;') NEWS
      .row.text-center
        .spacer-10
        p.mast-desc(style='color: white;') Read and watch the latest news and interviews, fresh from the front lines of the local gaming industry.

    .col-sm-12.visible-sm.visible-xs
      .row.text-center
        img(style='height:91px;', src='/img/common/emblem.svg')
        .spacer-20
      .row.text-center
        h1.mast-title(style='text-shadow: 4px 4px #DC5473;') NEWS
      .row.text-center
        .spacer-10
        p.mast-desc(style='color: white; font-size: 16px; font-weight: 400; max-width: 350px; margin: 0 auto;') Read and watch the latest news and interviews, fresh from the front lines of the local gaming industry.

  .spacer-80